/* TopCoins.css */

.coin-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  
  .coin-card h2 {
    margin-bottom: 20px;
  }
  
  .coin-card div {
    display: flex;
    justify-content: space-between;
  }
  