.coin-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  
    th {
      background-color: #f5f5f5;
      text-align: left;
      padding: 10px;
      font-weight: bold;
    }
  
    td {
      padding: 10px;
      font-size: 14px;
    }
  
    .up {
      color: green;
    }
  
    .down {
      color: red;
    }
  
    .bold {
      font-weight: bold;
    }
  }
  